.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#cont-1 {
    width: 10vw;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#cont-2 {
    width: 10vw;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cont-3 {
    width: 80vw;
    background-color: blue;
    order: 2;
}
.invisible {
    display: none;
}

.visible{
    display: block;
}

.resize {
    width: 12px;
    height: 50px;
    background-color: green;
    z-index: 2;
}